
    ul{
        list-style: none;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: inherit;
        outline: none;
    }
    img{
        object-fit: cover;
    }