@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin highlight($before-size, $scale) {
    transform: scale($before-size);
    transition: transform 400ms;
    &:hover {
        transform: scale($scale);
    }

}